html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrap {
    min-height: 1000px;
    background: rgba(234,240,236,.77);
}

/* header CSS */
.header {
    height: 300px;
    background: rgba(59,55,55,1);
}
.inner-header {
    width: 500px;
    height: 50%;
    margin: 0 auto;
    top: 25%;
    position: relative;
    /*background: rgb(198,87,60);*/
}
.header .inner-header .header-left {
    width: 25%;
    max-width: 117px;
    height: 150px;
    float: left;
    margin-left: 20px;
    text-align: center;
    line-height : 150px;
    background: url('../Images/BMICLogo.png') no-repeat center;
    /*border: 1px solid black;*/
}
.header .inner-header .header-middle {
    height: 150px;
    float: left;
    margin-left: 5%;
    /*border: 1px solid black;*/
}
.header .inner-header .header-middle p {
    color: rgb(236,201,17);
    font-size: 14px;
    padding: 4px;
    margin-top: 10px;
}
.header .inner-header .header-middle input {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid rgb(236,201,17);
    background: rgba(120,120,120,0.4);
}
.header .inner-header .header-right {
    width: 20%;
    float: right;
    /*border: 1px solid black;*/
}
.header .inner-header .header-right .btn{
    width: 100px;
    height: 100px;
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
    line-height: 100px;
    background: rgb(244,194,19);
    border-radius: 100px;
    border: 3px solid rgba(7,66,60,.51);
}
.header .inner-header .header-right .btn:hover {
    box-shadow: 1px 1px 1px rgba(147,145,152,0.7);
}
.header .inner-header .header-right .btn:active {
    width: 95px;
    height: 95px;
    margin-top: 30px;
}

/* content CSS */

/* footer CSS */
