html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    font-family: "Microsoft JhengHei";
}
.wrap {
    min-height: 1000px;
    background: rgba(234,240,236,.77);
}

/* header CSS */
.header {
    height: 300px;
    background: rgba(59,55,55,1);
}
.inner-header {
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    height: 50%;
    margin: 0 auto;
    top: 25%;
    position: relative;
    /*background: rgb(198,87,60);*/
}
.header .inner-header .header-left {
    width: 25%;
    max-width: 117px;
    height: 150px;
    float: left;
    margin-left: 15px;
    text-align: center;
    line-height : 150px;
    background: url('../Images/BMICLogo.png') no-repeat center;
    background-size: 100%;
    /*border: 1px solid black;*/
}
.header .inner-header .header-middle {
    width: 40%;
    min-width: 150px;
    height: 150px;
    float: left;
    margin-left: 15px;
    /*border: 1px solid black;*/
}
.header .inner-header .header-middle p {
    color: rgb(236,201,17);
    font-size: 14px;
    padding: 4px;
    margin-top: 10px;
}
.header .inner-header .header-middle input {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    /*保持最大寬度，不受到padding影響*/
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid rgb(236,201,17);
    background: rgba(120,120,120,0.4);
}
.header .inner-header .header-right {
    width: 22%;
    float: right;
    /*border: 1px solid black;*/
}
.header .inner-header .header-right .btn{
    width: 70px;
    height: 70px;
    font-size: 16px;
    margin-top: 35px;
    line-height: 70px;
    text-align: center;
    background: rgb(244,194,19);
    border-radius: 100em;
    border: 3px solid rgb(244,194,19);
    /*display: none;*/
}
.header .inner-header .header-right .btn:hover {
    box-shadow: 1px 1px 1px rgba(147,145,152,0.7);
}
.header .inner-header .header-right .btn:active {
    width: 65px;
    height: 65px;
    margin-top: 45px;
}
.header .inner-header .header-right .text1 {
    display: inline-block;
    margin-top: 15px;
    font-size: 22px;
}
.header .inner-header .header-right .text2 {
    font-size: 12px;
}
/*header 觸發js後顯示的樣式*/
.header .inner-header .header-right .greenbtn {
    color: rgb(16,199,64);
    width: 70px;
    height: 70px;
    font-size: 16px;
    margin-top: 35px;
    /*隱藏按鈕，當觸發事件時才會顯示（visible）*/
    visibility:hidden;
    text-align: center;
    border-radius: 100em;
    border: 3px solid rgb(16,199,64);

}
.header .inner-header .header-right .greenbtn .restartimg {
    width: 20px;
    height: 20px;
    border-radius: 100em;
    position: relative;
    top: -10%;
    left: 70%;
    border: 2px solid rgba(59,55,55,1);
    background: url("../Images/icons_loop.png") no-repeat center rgb(16,199,64);
}
.header .inner-header .header-right .bluebtn {
    color: rgb(14,200,233);
    width: 70px;
    height: 70px;
    font-size: 16px;
    margin-top: 35px;
    /*隱藏按鈕，當觸發事件時才會顯示（visible）*/
    visibility:hidden;
    text-align: center;
    border-radius: 100em;
    border: 3px solid rgb(14,200,233);

}
.header .inner-header .header-right .bluebtn .restartimg {
    width: 20px;
    height: 20px;
    border-radius: 100em;
    position: relative;
    top: -10%;
    left: 70%;
    border: 2px solid rgba(59,55,55,1);
    background: url("../Images/icons_loop.png") no-repeat center rgb(14,200,233);
}
.header .inner-header .header-right .orangebtn {
    color: rgb(233,172,14);
    width: 70px;
    height: 70px;
    font-size: 16px;
    margin-top: 35px;
    /*隱藏按鈕，當觸發事件時才會顯示（visible）*/
    visibility:hidden;
    text-align: center;
    border-radius: 100em;
    border: 3px solid rgb(233,172,14);

}
.header .inner-header .header-right .orangebtn .restartimg {
    width: 20px;
    height: 20px;
    border-radius: 100em;
    position: relative;
    top: -10%;
    left: 70%;
    border: 2px solid rgba(59,55,55,1);
    background: url("../Images/icons_loop.png") no-repeat center rgb(233,172,14);
}
.header .inner-header .header-right .dark-orangebtn {
    color: rgb(233,119,26);
    width: 70px;
    height: 70px;
    font-size: 16px;
    margin-top: 35px;
    /*隱藏按鈕，當觸發事件時才會顯示（visible）*/
    visibility:hidden;
    text-align: center;
    border-radius: 100em;
    border: 3px solid rgb(233,119,26);

}
.header .inner-header .header-right .dark-orangebtn .restartimg {
    width: 20px;
    height: 20px;
    border-radius: 100em;
    position: relative;
    top: -10%;
    left: 70%;
    border: 2px solid rgba(59,55,55,1);
    background: url("../Images/icons_loop.png") no-repeat center rgb(233,119,26);
}
.header .inner-header .header-right .light-redbtn {
    color: rgb(255,54,27);
    width: 70px;
    height: 70px;
    font-size: 16px;
    margin-top: 35px;
    /*隱藏按鈕，當觸發事件時才會顯示（visible）*/
    visibility:hidden;
    text-align: center;
    border-radius: 100em;
    border: 3px solid rgb(255,54,27);

}
.header .inner-header .header-right .light-redbtn .restartimg {
    width: 20px;
    height: 20px;
    border-radius: 100em;
    position: relative;
    top: -10%;
    left: 70%;
    border: 2px solid rgba(59,55,55,1);
    background: url("../Images/icons_loop.png") no-repeat center rgb(255,54,27);
}
.header .inner-header .header-right .redbtn {
    color: rgb(233,14,14);
    width: 70px;
    height: 70px;
    font-size: 16px;
    margin-top: 35px;
    /*隱藏按鈕，當觸發事件時才會顯示（visible）*/
    visibility:hidden;
    text-align: center;
    border-radius: 100em;
    border: 3px solid rgb(233,14,14);

}
.header .inner-header .header-right .redbtn .restartimg {
    width: 20px;
    height: 20px;
    border-radius: 100em;
    position: relative;
    top: -10%;
    left: 70%;
    border: 2px solid rgba(59,55,55,1);
    background: url("../Images/icons_loop.png") no-repeat center rgb(233,14,14);
}
.header .inner-header .header-right .restartimg:hover {
    box-shadow: 1px 1px 1px rgba(148,148,148,.66);
}
.header .inner-header .header-right .restartimg:active {
    top: -5%;
    left: 71%;
}
.header .inner-header .header-right .result-text {
    width: 76px;
    font-size: 18px;
}

/* content CSS */
.content {
    width: 100%;
    /*background: rgba(161,86,205,.37);*/
}
.content .inner-content {
    width: 90%;
    min-width: 350px;
    margin: 0 auto;
    /*background: rgb(231,249,121);*/
}
.content .inner-content .record {
    /*height: 50px;*/
    color: rgb(62,64,65);
    text-align: center;
    line-height: 50px;
    font-size: 19px;
    padding-top: 20px;
}
.content .inner-content .bmi_result {
    width: 100%;
    color: rgb(62,64,65);
    line-height: 50px;
}
.content .inner-content .bmi_result table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
}
.content .inner-content .bmi_result tr {;
    background: white;
    box-shadow: 1px 1px 2px rgba(156,141,144,.83);
}
/*.content .inner-content .bmi_result_good td {
overflow : hidden; --> 隱藏多出來的字
text-overflow : ellipsis; --> 以...取代
white-space : nowrap; --> 不換行
}*/
.content .inner-content .green {
    border-left: 4px solid rgb(16,199,64);
}
.content .inner-content .blue {
    border-left: 4px solid rgb(14,200,233);
}
.content .inner-content .orange {
    border-left: 4px solid rgb(233,172,14);
}
.content .inner-content .dark-orange {
    border-left: 4px solid rgb(233,119,26);
}
.content .inner-content .light-red {
    border-left: 4px solid rgb(255,54,27);
}
.content .inner-content .red {
    border-left: 4px solid rgb(233,14,14);
}
.content .inner-content .text-group0 {
    width: 10%;
    float: left;
    font-size: 1.7vw;
    padding-left: 2%;
    box-sizing: border-box;
}
.content .inner-content .text-group1 {
    width: 24%;
    float: left;
    font-size: 1.8vw;
    padding-left: 3%;
    box-sizing: border-box;
}
.content .inner-content .text-span {
    float: left;
    font-size: 1.2vw;
    margin-right: 2%;
}
.content .inner-content .text-group2 {
    width: 17%;
    float: left;
    font-size: 1.2vw;
    text-align: center;
    padding-left: 1%;
    box-sizing: border-box;
}

/* footer CSS */
.footer {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background: rgba(242,188,28,0.6);
}
.footer .footerImg {
    width: 70px;;
    height: 100px;
    margin: 0 auto;
    background: url('../Images/BMICLogo2.png') no-repeat center;
    background-size: 100%;
    /*border: 1px solid black;*/
}
